<div class="d-flex flex-row ">
  <div class="col-2 sidenav d-flex flex-column">
    <ul class="pt-5">
      <li [routerLink]="['/home']" routerLinkActive="activeLink">Acerca de mí</li>
      <li [routerLink]="['/laboral']" routerLinkActive="activeLink">Experiencia Laboral</li>
      <li [routerLink]="['/estudios']" routerLinkActive="activeLink">Estudios</li>
      <li [routerLink]="['/habilidades']" routerLinkActive="activeLink">Habilidades</li>
    </ul>
    <div class="redes"> 
      <a href="https://www.linkedin.com/in/danielhmiranda/">
        <img src="assets/linkedin.svg" width="4vh">
      </a>
      <a href="https://github.com/TheBlackFenix">
        <img src="assets/github.svg">
      </a>      
    </div>
  </div>
  <div class="col-10 content ">
    <router-outlet/>
  </div>
</div>